if SHIELD_SKELETYL_HANDWIRE_LEFT

config ZMK_KEYBOARD_NAME
    default "Mill Skeletyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SKELETYL_HANDWIRE_LEFT || SHIELD_SKELETYL_HANDWIRE_RIGHT

config ZMK_SPLIT
    default y

endif
